.allCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 16px 16px 0px 16px;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 8px;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(220, 220, 220, 0.3);
  border: 1px solid transparent;
  cursor: pointer;
}
.cardContainer:hover {
  background: rgba(220, 220, 220, 0.6);
  border: 1px solid #d0d0d0;
}
.cardHeader {
  font-size: 2rem;
  border-bottom: 1px solid black;
}
.cardImage {
  width: 350px;
  height: 250px;
}
